.alert{
    width: 100%;

    &__message{
        font-weight: 400;
        color: $color-white;
        box-shadow: 0px 0px 1px $color-black;
        font-size: $font-regular;
        border-radius: 5px;
        padding: 1.5rem 2rem;

        &--critical{
            background-color: red;
        }

        &--error{
            background-color: $color-secondary;
        }

        &--success{
            background-color: green;
        }
    }
}