.form{
    width: 100%;
    margin: 0 auto;
 
    flex-basis:100%;
    &-errorhandler{
        width: 80%;
    }
    &-main{
        width: 100%;
        &-container{
            width: 100%;
        }
        &-divider{
            content: "";
            display: inline-block;
            width: 80%;
            height: .1rem;
            background-color: rgba($color-black, .15);
        }
        &-field{
            &__input{
                font-weight: 300;
                width: 80%;
                font-size: $font-regular;
                border: none;
                outline: none;
                &::placeholder{
                    font-size: $font-regular;
                    opacity: .6;
                    color: $color-black;
                }
                padding-bottom: .5rem;
                border-bottom: 2px solid rgba($color-primary, .85);
                background-color: transparent;
            }
            &__dropdown{
                outline: none;
                width: 15rem;
                padding: 1rem;
                font-size: $font-regular;
                opacity: .6;
                background-color: transparent;
                border: 2px solid rgba($color-primary, .85);
                border-radius: 0%;
                &:hover{
                    opacity: 1;
                    cursor: pointer;
                    color: $color-primary;
                }
            }
            &__error{
                color: $color-secondary;
                font-weight: 400;
                padding: .1rem 0rem;
                font-size: $font-subtle;
            }
            &__label{
                display: inline-block;
                color: $color-black;
                font-size: $font-regular;
                opacity: .6;
            }
        }
    }
}

.default{
    height: 15rem;
}
.setup-flag{
    height: 5rem;
}