.setup{
    width: 70%;
    margin: 0 auto;
    height: auto;

    &-header{
        width: 80%;
        margin: 0 auto;
        color: $color-black;
        &__subtitle{
            font-weight: 300;
            font-size: $font-medium;
        }
    }
}