.mt{
    &-sm{
        margin-top: 1rem;
    }
    &-md{
        margin-top: 2.5rem;
    }
    &-lg{
        margin-top: 5rem;
    }
}
.mb{
    &-sm{
        margin-bottom: 1rem;
    }
    &-md{
        margin-bottom: 2.5rem;
    }
}
.mr{
    &-sm{
        margin-right: 1rem;
    }
}

.ta{
    &-left{
        text-align: left;
    }
}