$color-primary: #4281A4;
$color-primary-dark: #05668D;
$color-secondary: #F6AA1C;
$color-secondary-dark: #FF9F1C;
$color-background: #FDFFFC;
$color-white: #fff;
$color-black: #333;

$font-large: 5rem;
$font-medium: 3rem;
$font-regular: 2rem;
$font-subtle: 1.5rem;